{% extends "base.html" %}
{% from "navbar.html" import navbar %}
{% from "flash.html" import flash %}

{% block content %}
{{ navbar(current_user) }}
<div class="container my-5">
  {{ flash() }}
  <form action="" method="post" novalidate>
    {{ form.hidden_tag() }}
    <div class="card mt-4">
      <div class="card-header">Forecast Area</div>
      <div class="card-body">
        <div class="form-group row">
          {{ form.region.label(class_="col-lg-2 col-form-label") }}
           <div class="col-lg-10">
            {% if not form.region.errors %}
            {{ form.region(class_="form-control") }}
            {% else %}
            {{ form.region(class_="form-control is-invalid") }}
            {% endif %}
            {% for error in form.region.errors %}
            <div class="invalid-feedback">{{ error }}</div>
            {% endfor %}
          </div>
        </div>
        <div class="form-group row">
          {{ form.prefecture.label(class_="col-lg-2 col-form-label") }}
           <div class="col-lg-10">
            {% if not form.prefecture.errors %}
            {{ form.prefecture(class_="form-control") }}
            {% else %}
            {{ form.prefecture(class_="form-control is-invalid") }}
            {% endif %}
            {% for error in form.prefecture.errors %}
            <div class="invalid-feedback">{{ error }}</div>
            {% endfor %}
          </div>
        </div>
        <div class="form-group row">
          {{ form.subprefecture.label(class_="col-lg-2 col-form-label") }}
           <div class="col-lg-10">
            {% if not form.subprefecture.errors %}
            {{ form.subprefecture(class_="form-control") }}
            {% else %}
            {{ form.subprefecture(class_="form-control is-invalid") }}
            {% endif %}
            {% for error in form.subprefecture.errors %}
            <div class="invalid-feedback">{{ error }}</div>
            {% endfor %}
          </div>
        </div>
        <div class="form-group row">
          {{ form.city.label(class_="col-lg-2 col-form-label") }}
           <div class="col-lg-10">
            {% if not form.city.errors %}
            {{ form.city(class_="form-control") }}
            {% else %}
            {{ form.city(class_="form-control is-invalid") }}
            {% endif %}
            {% for error in form.city.errors %}
            <div class="invalid-feedback">{{ error }}</div>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
    <div class="card mt-4">
      <div class="card-header">Data Fetch Interval</div>
      <div class="card-body text-center">
        {{ form.fetch_intvl(id="fetch-intvl", class_="custom-range",
                            min=10, max=60, step=5) }}
        <output>
          <span id="fetch-intvl-val"></span>
          <span> minutes</span>
        </output>
      </div>
    </div>
    <div class="card mt-4">
      <div class="card-header">Weather LED</div>
      <div class="card-body">
        <div class="form-group row">
          {{ form.led_fine.label(class_="col-lg-2 col-form-label") }}
          <div class="col-lg-10">
            {% if not form.led_fine.errors %}
            {{ form.led_fine(class_="form-control") }}
            {% else %}
            {{ form.led_fine(class_="form-control is-invalid") }}
            {% endif %}
            {% for error in form.led_fine.errors %}
            <div class="invalid-feedback">{{ error }}</div>
            {% endfor %}
          </div>
        </div>
        <div class="form-group row">
          {{ form.led_cloud.label(class_="col-lg-2 col-form-label") }}
          <div class="col-lg-10">
            {% if not form.led_cloud.errors %}
            {{ form.led_cloud(class_="form-control") }}
            {% else %}
            {{ form.led_cloud(class_="form-control is-invalid") }}
            {% endif %}
            {% for error in form.led_cloud.errors %}
            <div class="invalid-feedback">{{ error }}</div>
            {% endfor %}
          </div>
        </div>
        <div class="form-group row">
          {{ form.led_rain.label(class_="col-lg-2 col-form-label") }}
          <div class="col-lg-10">
            {% if not form.led_rain.errors %}
            {{ form.led_rain(class_="form-control") }}
            {% else %}
            {{ form.led_rain(class_="form-control is-invalid") }}
            {% endif %}
            {% for error in form.led_rain.errors %}
            <div class="invalid-feedback">{{ error }}</div>
            {% endfor %}
          </div>
        </div>
        <div class="form-group row">
          {{ form.led_snow.label(class_="col-lg-2 col-form-label") }}
          <div class="col-lg-10">
            {% if not form.led_snow.errors %}
            {{ form.led_snow(class_="form-control") }}
            {% else %}
            {{ form.led_snow(class_="form-control is-invalid") }}
            {% endif %}
            {% for error in form.led_snow.errors %}
            <div class="invalid-feedback">{{ error }}</div>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
    <div class="card mt-4">
      <div class="card-header">LED Blink Duration</div>
      <div class="card-body">
        <div class="form-group row">
          {{ form.blink_on_time.label(class_="col-lg-2 col-form-label") }}
          <div class="col-lg-10">
            {{ form.blink_on_time(id="blink-on-time", class_="custom-range",
                                  min=1.0, max=5.0, step=0.5) }}
            <output>
              <span id="blink-on-time-val"></span>
              <span> seconds</span>
            </output>
          </div>
        </div>
        <div class="form-group row">
          {{ form.blink_off_time.label(class_="col-lg-2 col-form-label") }}
          <div class="col-lg-10">
            {{ form.blink_off_time(id="blink-off-time", class_="custom-range",
                                   min=1.0, max=5.0, step=0.5) }}
            <output>
              <span id="blink-off-time-val"></span>
              <span> seconds</span>
            </output>
          </div>
        </div>
      </div>
    </div>
    <div class="card mt-4">
      <div class="card-header">LED Fade Duration</div>
      <div class="card-body">
        <div class="form-group row">
          {{ form.fade_in_time.label(class_="col-lg-2 col-form-label") }}
          <div class="col-lg-10">
            {{ form.fade_in_time(id="fade-in-time", class_="custom-range",
                                  min=1.0, max=5.0, step=0.5) }}
            <output>
              <span id="fade-in-time-val"></span>
              <span> seconds</span>
            </output>
          </div>
        </div>
        <div class="form-group row">
          {{ form.fade_out_time.label(class_="col-lg-2 col-form-label") }}
          <div class="col-lg-10">
            {{ form.fade_out_time(id="fade-out-time", class_="custom-range",
                                   min=1.0, max=5.0, step=0.5) }}
            <output>
              <span id="fade-out-time-val"></span>
              <span> seconds</span>
            </output>
          </div>
        </div>
      </div>
    </div>
    <div class="card mt-4 mb-4">
      <div class="card-header">Button</div>
      <div class="card-body">
        <div class="form-group row">
          {{ form.tts_button.label(class_="col-lg-2 col-form-label") }}
          <div class="col-lg-10">
            {% if not form.tts_button.errors %}
            {{ form.tts_button(class_="form-control") }}
            {% else %}
            {{ form.tts_button(class_="form-control is-invalid") }}
            {% endif %}
            {% for error in form.tts_button.errors %}
            <div class="invalid-feedback">{{ error }}</div>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
    {{ form.submit(class_="btn btn-primary") }}
  </form>
</div>
{% endblock %}

{% block script %}
<script type="module">
  import {updateForecastAreaDropdowns}
  from '{{ url_for('static', filename='pytenki-settings.js') }}';
  updateForecastAreaDropdowns(
    '{{ csrf_token() }}',
    '{{ url_for('settings.areas_by_region') }}',
    '{{ url_for('settings.areas_by_prefecture') }}',
    '{{ url_for('settings.areas_by_subprefecture') }}',
  );

  import {outputSliderVal}
  from '{{ url_for('static', filename='helper.js') }}';
  outputSliderVal('fetch-intvl', 'fetch-intvl-val');
  outputSliderVal('blink-on-time', 'blink-on-time-val');
  outputSliderVal('blink-off-time', 'blink-off-time-val');
  outputSliderVal('fade-in-time', 'fade-in-time-val');
  outputSliderVal('fade-out-time', 'fade-out-time-val');
</script>
{% endblock %}
